{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1>{{ project.title }}</h1>

    {% if project.image %}
        <img src="{{ project.image.url }}" class="img-fluid rounded mb-4" alt="{{ project.title }}">
    {% endif %}

    <p class="lead">{{ project.description }}</p>

    <h5 class="mt-4">Technologies</h5>
    <p>{{ project.technologies }}</p>

    <div class="d-flex gap-2 mt-4">
        {% if project.github_url %}
            <a href="{{ project.github_url }}" class="btn btn-dark" target="_blank">
                <i class="fab fa-github me-1"></i> GitHub
            </a>
        {% endif %}

        {% if project.live_demo %}
            <a href="{{ project.live_demo }}" class="btn btn-success" target="_blank">
                <i class="fas fa-external-link-alt me-1"></i> Live Demo
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}