{% extends 'base.html' %}


{% block content %}

<div class="container py-5">

    <div class="card shadow p-4 text-center">

        <h2 class="mb-4">
            Delete Skill
        </h2>


        <p>
            Are you sure you want to delete
            <strong>{{ skill.name }}</strong>?
        </p>


        <form method="POST">

            {% csrf_token %}

            <button type="submit"
                    class="btn btn-danger">

                Yes, Delete

            </button>


            <a href="{% url 'skills:skill_list' %}"
               class="btn btn-secondary">

                Cancel

            </a>


        </form>


    </div>

</div>


{% endblock %}